html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
}

header {
    display: flex;
    justify-content: center;
    background-color: rgb(214, 214, 0);
}

.pages {
    background-color: #ffffff;
    border: solid 1px;
    border-color: rgb(179, 179, 179);
    width: 98%;
    margin-left: 10px;
}

#sub-title {
    font-size: small;
    color: #9e9991;
    margin-top: 38px;
    margin-left: 4px;
}

h1 {
    text-align: center;
}

.greeting {
    text-align: center;
}

.insertsect {
    background-color: #ffffff;
    border: solid 1px;
    border-color: rgb(214, 214, 0);
    width: 98%;
    margin-left: 10px;
}

.counting {
    display: block;
    background-color: rgb(214, 214, 0);
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#formula {
    text-align: center;
    font-weight: bold;
}

#counter {
    outline: none;
    border: solid #bbbab8 2px;
    border-radius: 4px;
    padding: 8px;
}

#counter:focus {
    border: solid #919191 2px;
}