html {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    display: flex;
    justify-content: center;
    background-color: rgb(214, 214, 0);
}

.pages {
    background-color: #ffffff;
    border: solid 1px;
    border-color: rgb(179, 179, 179);
    width: 98%;
    margin-left: 10px;
}

#sub-title {
    font-size: small;
    color: #9e9991;
    margin-top: 38px;
    margin-left: 4px;
}

h1 {
    text-align: center;
}

.greeting {
    text-align: center;
}

.insertsect {
    background-color: #ffffff;
    border: solid 1px;
    border-top: none;
    border-color: rgb(214, 214, 0);
    width: 98%;
    margin-left: 10px;
    margin-bottom: 15px;
    padding-bottom: 200px;
}

.counting {
    display: flex;
    background-color: rgb(214, 214, 0);
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin-left: 20px;
}

.keterangan {
    margin-left: 20px;
}

#formulakel {
    text-align: center;
    font-weight: bold;
}

.countsect {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    margin-right: 300px;
}

#counterkel {
    margin-top: 20px;
    outline: none;
    border: solid #bbbab8 2px;
    border-radius: 4px;
    padding: 8px;
    
}

#counterkel:focus {
    border: solid #919191 2px;
}

#countkel {
    text-align: center;
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: center;
}

.enter {
    margin-top: 20px;
    margin-right: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(104, 255, 104);
    border: none;
    border-radius: 4px;
    padding: 10px 30px;
    cursor: pointer;
    font-weight: bold;
}

.enter:hover {
    background-color: rgb(78, 185, 78);
    font-weight: bold;
}

.enter:active {
    background-color: rgb(55, 133, 55);
    transform: translateY(2px);
    font-weight: bold;
}

.reset {
    margin-top: 20px;
    margin-left: 20px;
    color: white;
    background-color: rgb(235, 152, 0);
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

.reset:hover {
    background-color: rgb(255, 67, 67);
    font-weight: bold;
}

.reset:active {
    background-color: rgb(175, 45, 45);
    transform: translateY(2px);
    font-weight: bold;
}

#formulaluas {
    text-align: center;
    font-weight: bold;
}

#counterluas {
    margin-top: 20px;
    outline: none;
    border: solid #bbbab8 2px;
    border-radius: 4px;
    padding: 8px;
    
}

#counterluas:focus {
    border: solid #919191 2px;
}

#countluas {
    text-align: center;
    font-weight: bold;
}

footer {
    display: flex;
    background-color: rgb(214, 214, 0);
    margin-top: 20px;
}